@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Materialize Button */

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

h6 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.7666666667rem 0 0.46rem 0;
}

html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
} 

.btn, .btn-large, .btn-small,
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-small.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-flat[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn, .btn-large, .btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn i, .btn-large i, .btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
  background-color: #26a69a;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #2bbbad;
}

.btn:active, .btn-large:active, .btn-small:active {
  background-color: #23998D;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating:hover {
  background-color: #26a69a;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 56px;
  height: 56px;
  padding: 0;
}

.btn-floating.btn-large.halfway-fab {
  bottom: -28px;
}

.btn-floating.btn-large i {
  line-height: 56px;
}

.btn-floating.btn-small {
  width: 32.4px;
  height: 32.4px;
}

.btn-floating.btn-small.halfway-fab {
  bottom: -16.2px;
}

.btn-floating.btn-small i {
  line-height: 32.4px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  bottom: -20px;
}

.btn-floating.halfway-fab.left {
  right: auto;
  left: 24px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px;
}

button.btn-floating {
  border: none;
}

.z-depth-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

/*******************
  Utility Classes
*******************/
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


/* Custom */

body, html {
  margin: 0;
  /*
  background-color: #FFF8ED;
  */
  background-color: #B1E8ED;
}

html {
  height: 100%;
  background-color: #B1E8ED;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  font-family: 'Open Sans',arial,sans-serif;
  text-align: center;
}

.main-h1 {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 1.1rem;
  width: 140px;
  line-height: 2;
  margin-top: 10px;
}

select {
  margin: 0px;
  display: block;
  font-size: 1.0rem;
  width: 170px;
  line-height: 2;
}

.button-small {
  margin: 0 auto;
  font-size: 1.0rem;
  width: 180px;
  line-height: 1;
  margin-top: 20px;
}

.button-medium {
  font-size: 13.5px !important;
}

.button-dropdown {
  width: calc(100% - 20px);
  color: gray;
}

.button-dropdown-active {
  color: black !important;
}

.button-dropdown-icon {
  width: 100px;
  font-size: 15px !important;
  transform: rotate(-90deg);
  -webkit-transition: transform 0.15s;
  color: gray;
}

.button-dropdown-icon-active {
  font-size: 15px !important;
  transform: rotate(0deg);
  color: black;
}

.phrase {
  font-weight: bold;
}

.output {
  font-style: italic;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}

.confidence {
  display: block;
}

.options {
  overflow: auto;
  position: relative;
  display: none;
  background-color: rgba(0,0,0,0.2);
  padding-bottom: 20px;
}

.option-line {
  width: 400px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}

.option-aligned {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  overflow: auto;
  position: relative;
}

.option-text {
  text-align: left;
  font-weight: bold;
  color: black;
  margin: 0px;
  padding-bottom: 5px;
}

.options-modal, .options-modal > div {
  font-family: 'Open Sans',arial,sans-serif !important;
}

.credit-text {
  text-align: right;
  color: gray;
  margin: 0px;
  padding-bottom: 5px;
}

.bottom-margin {
  font-size: 15px;
  margin-bottom: 20px;
}

.bottom-margin-small {
  font-size: 15px;
  margin-bottom: 5px;
}

.divider {
  margin-top: 10px;
}

@media only screen and (max-width: 767.5px) {
  .bottom-margin-media {
    margin-bottom: 15px;
  }
}

.overflow-auto {
  overflow: auto;
}

.no-top-padding {
  padding-top: 0px !important;
}

.no-bottom-padding {
  padding-bottom: 0px !important;
}

.top-padding {
  padding-top: 10px !important;
}

.small-top-padding {
  padding-top: 5px !important;
}

.slider {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.top-margin {
  margin-top: 10px;
}

.wide-select {
  width: 100%;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  max-width: 300px;
  min-width: 100px !important;
}

.menu {
  max-height: 270px !important;
}

.search {
  white-space: nowrap;
  text-overflow: clip;
  font-family: 'Open Sans',arial,sans-serif !important;
}

.text {
  width: inherit;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 3.0px !important;
  padding-bottom: 3.0px !important;
  text-overflow: clip;
}

.absolute-top {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: calc(100% - 91px);
}

.absolute-bottom {
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.top-right-corner {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 10px;
}

.btn-square {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 0px;
  margin-left: 5px;
}

.img-centered {
  margin-right: 0px !important;
}

.transcript-header {
  display: block;
  margin: 0 auto !important;
  width: 80% !important;
  height: 27.5px;
  font-size: 12px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  font-family: 'Open Sans',arial,sans-serif !important;
}

.transcript {
  display: block;
  margin: 0 auto !important;
  width: 80% !important;
  height: 250px;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px !important;
  resize: vertical;
  max-height: calc(100% - 300px);
}

.transcript-body, .transcript-body > div {
  align-items: baseline;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  flex-direction: row;
  justify-content: normal;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 1px;
  margin-bottom: 1px;
}

.transcript-time {
  font-size: 10px;
  width: 60px;
  color: gray;
  float: left;
  margin-left: 5px;
}

.transcript-text {
  vertical-align: center;
  width: calc(100% - 100px);
  float: left;
}

.transcript-link {
  display: none;
}

.transcript-play {
  font-size: 12px;
  color: gray;
  float: right;
  cursor: pointer;
  display: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.tts {
  display: block;
  margin: 0 auto !important;
  width: calc(100%) !important;
  height: 40px;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px !important;
  resize: vertical;
  max-height: 100%;
}

.tts-area {
  display: block;
  margin: 0 auto !important;
  width: 80% !important;
  height: 40px;
  text-align: left;
  resize: vertical;
  max-height: calc(100% - 275px);
  padding: 0px !important;
}

.tts-input-area {
  display: block;
  margin: 0 auto !important;
  width: 100% !important;
  text-align: left;
  padding: 0px !important;
}

.tts-button {
  font-size: 20px !important;
  margin: 2px;
  position: relative;
  width: 36px !important;
  height: 36px;
  padding: 0px;
}

.hover-button {
  color: gray;
  cursor: pointer;
  -webkit-transition: color 0.15s;
}

.hover-button:hover {
  color: black;
  cursor: pointer;
}

.track-fill {
  -webkit-transition: background-color 0.3s;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.search {
  margin-top: 0.5px !important;
}

.menu > .header {
  margin: 5px !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  font-size: 14px !important;
  background-color: lightgray;
  border-radius: 5px;
}

.slider-full {
  width: calc(100% - 25px) !important;
}

.volume-icon {
  margin-top: 11.5px !important;
}

.bottom-margin-media {
  color: rgb(249, 250, 251);
  -webkit-transition: color 0.15s;
}

.bottom-margin-media:hover {
  color: gray;
}

.extra-text {
  color: gray !important;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;  
}

::-moz-placeholder {
  font-style: italic;  
}

:-ms-input-placeholder {  
  font-style: italic; 
}
