/* Materialize Button */

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.9466666667rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

h6 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.7666666667rem 0 0.46rem 0;
}

html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
} 

.btn, .btn-large, .btn-small,
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-small.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-flat[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn, .btn-large, .btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn i, .btn-large i, .btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
  background-color: #26a69a;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #2bbbad;
}

.btn:active, .btn-large:active, .btn-small:active {
  background-color: #23998D;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating:hover {
  background-color: #26a69a;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 56px;
  height: 56px;
  padding: 0;
}

.btn-floating.btn-large.halfway-fab {
  bottom: -28px;
}

.btn-floating.btn-large i {
  line-height: 56px;
}

.btn-floating.btn-small {
  width: 32.4px;
  height: 32.4px;
}

.btn-floating.btn-small.halfway-fab {
  bottom: -16.2px;
}

.btn-floating.btn-small i {
  line-height: 32.4px;
}

.btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  bottom: -20px;
}

.btn-floating.halfway-fab.left {
  right: auto;
  left: 24px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px;
}

button.btn-floating {
  border: none;
}

.z-depth-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

/*******************
  Utility Classes
*******************/
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


/* Custom */

body, html {
  margin: 0;
  /*
  background-color: #FFF8ED;
  */
  background-color: #B1E8ED;
}

html {
  height: 100%;
  background-color: #B1E8ED;
}

body {
  height: inherit;
  overflow: hidden;
}

h1, p {
  font-family: 'Open Sans',arial,sans-serif;
  text-align: center;
}

.main-h1 {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  -webkit-text-stroke-width: 0.07rem;
  font-weight: normal;
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 1.1rem;
  width: 140px;
  line-height: 2;
  margin-top: 10px;
}

select {
  margin: 0px;
  display: block;
  font-size: 1.0rem;
  width: 170px;
  line-height: 2;
}

.button-small {
  margin: 0 auto;
  font-size: 1.0rem;
  width: 180px;
  line-height: 1;
  margin-top: 20px;
}

.button-medium {
  font-size: 13.5px !important;
}

.button-dropdown {
  width: calc(100% - 20px);
  color: gray;
}

.button-dropdown-active {
  color: black !important;
}

.button-dropdown-icon {
  width: 100px;
  font-size: 15px !important;
  transform: rotate(-90deg);
  -webkit-transition: transform 0.15s;
  color: gray;
}

.button-dropdown-icon-active {
  font-size: 15px !important;
  transform: rotate(0deg);
  color: black;
}

.output {
  font-size: 14px !important;
  font-style: normal;
  padding: 5px;
  background-color: rgba(0,0,0,0.2);
}

.confidence {
  display: block;
}

.options {
  overflow: auto;
  position: relative;
  display: none;
  background-color: rgba(0,0,0,0.2);
  padding-bottom: 20px;
}

.option-line {
  width: 400px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}

.option-aligned {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  overflow: auto;
  position: relative;
}

.option-text {
  text-align: left;
  -webkit-text-stroke-width: 0.03rem;
  font-weight: normal;
  color: black;
  margin: 0px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  text-overflow: clip;
}

.options-modal, .options-modal > div {
  font-family: 'Open Sans',arial,sans-serif !important;
}

.options-input {
  font-family: 'Open Sans',arial,sans-serif !important;
}

.options-menu {
  margin-bottom: 0rem !important;
}

.options-tab {
  font-size: 1rem;
  padding: 1rem !important;
  padding-bottom: 0.9rem !important;
}

.options-grid {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

@media only screen and (max-width: 512px) {
  .ui.modal > .content {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .tab-replacements {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.credit-text {
  text-align: right;
  color: gray;
  margin: 0px;
  padding-bottom: 5px;
}

.bottom-margin {
  font-size: 15px;
  margin-bottom: 20px;
}

.bottom-margin-medium {
  font-size: 15px;
  margin-bottom: 15px;
}

.bottom-margin-small {
  font-size: 15px;
  margin-bottom: 5px;
}

.divider {
  margin-top: 10px;
}

.overflow-auto {
  overflow: auto;
}

.no-top-padding {
  padding-top: 0px !important;
}

.no-bottom-padding {
  padding-bottom: 0px !important;
}

.top-padding-media {
  padding-top: 0.9rem !important;
}

.top-padding-media-condensed {
  padding-top: 0.4rem !important;
}

.top-padding {
  padding-top: 1.6rem !important;
}

.small-top-padding {
  padding-top: 0.25rem !important;
}

.extra-voice-slider {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.extra-voice-checkbox {
  padding-top: 1.1rem !important;
}

.volume-slider {
  width: calc(100% - 25px) !important;
  padding-top: 0.6rem !important;
  padding-bottom: 0.7rem !important;
}

.volume-icon {
  margin-top: 0.85rem !important;
}

.sync-language-icons {
  height: 0px !important;
  margin-right: 0px !important;
}

.sync-language-icon {
  font-size: 0.8em !important;
}

.sync-language-outline-icon {
  font-size: 1.6em !important;
  margin-top: -0.23rem !important;
}

.error-text {
  color: red !important;
}

.top-margin {
  margin-top: 10px;
}

.column {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.wide-select {
  width: 100%;
  max-width: 100%;
  min-width: 100px !important;
  min-height: 38px !important;
  max-height: 38px !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap;
  text-overflow: clip;
  font-family: 'Open Sans',arial,sans-serif !important;
}

.wide-select > input {
  font-family: 'Open Sans',arial,sans-serif !important;
}

.ui.sub.header {
  color: black;
  font-family: 'Open Sans',arial,sans-serif !important;
  -webkit-text-stroke-width: 0.03rem;
  font-weight: normal;
}

.ui.dropdown > .text {
  width: inherit;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 3.0px !important;
  padding-bottom: 3.0px !important;
  text-overflow: clip;
}

.ui.search.dropdown > .text {
  width: inherit;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 3.0px !important;
  padding-bottom: 3.0px !important;
  text-overflow: clip;
}

.ui.selection.dropdown .menu > .message {
  white-space: pre-wrap;
}

.ui.dropdown .menu > .header {
  white-space: pre-wrap;
  -webkit-text-stroke-width: 0.03rem;
  font-weight: normal !important;
}

.menu {
  max-height: 270px !important;
}

/*.text {
  width: inherit;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 3.0px !important;
  padding-bottom: 3.0px !important;
  text-overflow: clip;
}*/

.absolute-top {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: calc(100% - 91px);
}

.absolute-bottom {
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.top-right-corner {
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 10px;
}

.btn-square {
  position: relative;
  width: 36px;
  height: 36px;
  padding: 0px;
  margin-left: 5px;
}

.img-centered {
  margin-right: 0px !important;
}

.transcript-header {
  display: block;
  margin: 0 auto !important;
  width: 80% !important;
  height: 27.5px;
  font-size: 12px !important;
  padding: 5px !important;
  padding-left: 10px !important;
  font-family: 'Open Sans',arial,sans-serif !important;
}

.transcript-header-text {
  -webkit-text-stroke-width: 0.03rem;
  font-weight: normal !important;
  font-style: normal;
}

.transcript {
  display: block;
  margin: 0 auto !important;
  width: 80% !important;
  height: 250px;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
  padding: 10px !important;
  resize: vertical;
  max-height: calc(100% - 285px);
}

.transcript-body, .transcript-body > div {
  align-items: baseline;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: normal;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 1px;
  margin-bottom: 1px;
}

.transcript-time {
  font-size: 10px;
  width: 60px;
  color: gray;
  float: left;
  margin-left: 5px;
  white-space: pre;
}

.transcript-text {
  vertical-align: center;
  width: calc(100% - 100px);
  float: left;
  margin-left: 5px;
  white-space: pre;
  overflow: hidden;
}

.transcript-empty-text {
  font-style: italic;
  color: lightgray;
  overflow: hidden;
}

.transcript-link {
  display: none;
}

.transcript-play {
  font-size: 12px;
  color: gray;
  float: right;
  cursor: pointer;
  display: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.transcript-translation-info {
  font-size: 10px;
  width: 60px;
  color: gray;
  float: left;
  margin-left: 5px;
  margin-left: 5px;
  white-space: pre;
}

.transcript-untranslated-text {
  vertical-align: center;
  width: calc(100% - 70px);
  color: gray;
  float: left;
  margin-left: 5px;
  white-space: pre;
  overflow: hidden;
}

.copy-icon {
  margin-right: 0.1rem;
}

.tts {
  display: block;
  margin: 0 auto !important;
  width: calc(100%) !important;
  height: 40px;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  resize: vertical;
  max-height: 100%;
}

.tts-area {
  display: block;
  margin: 0 auto !important;
  width: 80% !important;
  height: 40px;
  text-align: left;
  resize: vertical;
  max-height: calc(100% - 275px);
  padding: 0px !important;
}

.tts-input-area {
  display: block;
  margin: 0 auto !important;
  width: 100% !important;
  text-align: left;
  padding: 0px !important;
}

.tts-button {
  font-size: 20px !important;
  margin: 2px;
  position: relative;
  width: 36px !important;
  height: 36px;
  padding: 0px;
}

.ui-toggle-button {
  height: 2em !important;
  width: 30% !important;
  padding: 0.4em !important;
}

.config-button {
  height: 24.6px !important;
  min-height: 100% !important;
  max-height: 100% !important;
  padding: 0px !important;
  overflow: clip;
}

.ui.labeled.icon.button {
  padding: 0px !important;
  padding-left: 36px !important;
}

.config-icon {
  padding: 0px !important;
  display: flex !important;
  align-items: center !important;
}

.footer-button {
  padding: 6px !important;
  padding-top: 4.5px !important;
  height: 24px;
}

/*.export-button {
  padding: 6px !important;
  padding-top: 4.5px !important;
  margin-right: 0px !important;
  height: 24px;
}*/

.export-icon {
  padding-left: 6px;
  padding-right: 8px;
}

.import-icon {
  padding-left: 5px;
  padding-right: 8px;
}

.plus-icon {
  padding-left: 6.5px;
  padding-right: 8px;
}

.add-entry-button {
  padding: 21px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  height: 24px;
}

.replacement-entries {
  min-height: 260.9px !important;
  max-height: 260.9px !important;
  background-color: rgba(34, 36, 38, 0.1);
}

::-webkit-scrollbar {
  background-color: white;
}

.replacements-placeholder {
  background-color: rgba(34, 36, 38, 0.1);
}

.replacements-table {
  margin: 0px !important;
}

.pointing-top-right {
  margin-top: 1rem !important;
}

.pointing-bottom-right {
  margin-bottom: 1rem !important;
}

.pointing-top-right::after {
  top: -0.25em;
  left: auto !important;
  right: 0.525em !important;
  margin: 0;
  display: block;
  position: absolute;
  pointer-events: none;
  content: '';
  visibility: visible;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.5rem;
  height: 0.5rem;
  -webkit-box-shadow: -1px -1px 0 0 rgba(34,36,38,.15);
  box-shadow: -1px -1px 0 0 rgba(34,36,38,.15);
  background: #fff;
  z-index: -1;
  box-sizing: inherit;
}

.pointing-bottom-right::after {
  bottom: -0.25em;
  left: auto !important;
  right: 0.525em !important;
  margin: 0;
  display: block;
  position: absolute;
  pointer-events: none;
  content: '';
  visibility: visible;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.5rem;
  height: 0.5rem;
  -webkit-box-shadow: 1px 1px 0 0 rgba(34,36,38,.15);
  box-shadow: 1px 1px 0 0 rgba(34,36,38,.15);
  background: #fff;
  z-index: -1;
  box-sizing: inherit;
}

.grip-button {
  padding-left: 0.1rem !important;
}

.draggable {
  cursor: move !important;
  user-select: none !important;
}

.table-clone-row-container {
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.table-cell {
  background-color: white;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.table-cell-title {
  -webkit-text-stroke-width: 0.03rem;
  font-weight: normal !important;
}

.table-footer {
  padding: 0.25rem !important;
  padding-right: 0px !important;
}

.table-footer-text {
  margin: 0.25rem;
  margin-top: 0.275rem;
}

.table-cell-input {
  display: block;
  margin: 0 auto !important;
  width: calc(100%) !important;
  height: 20px;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
  padding: 0px !important;
  resize: vertical;
  max-height: 100%;
}

.table-cell-button {
  color: red;
}

.table-cell-button:hover {
  color: rgb(178, 30, 30) !important;
}

.table-button {
  background-color: rgb(249, 250, 251);
  text-align: center !important;
  padding: 0.25rem !important;
  width: 1.8rem;
}

.options-container {
  min-height: 367.625px;
  max-height: 367.625px;
}

.options-footer {
  padding-top: 13px !important;
  padding-bottom: 0px !important;
  height: 42px !important;
}

.options-divider {
  margin: 0.8em !important;
}

.options-divider-condensed {
  margin: 0.4em !important;
}

.replacements-info {
  margin-bottom: 0.5rem;
}

.custom-popup {
  padding: 0.5rem !important;
}

.settings-checkbox > label {
  padding-left: 50px !important;
}

.settings-checkbox {
  padding: 0px !important;
  padding-top: 2px !important;
  display: flex !important;
  align-items: center !important;
}

.latency-input {
  text-align: right !important;
  max-width: 70% !important;
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
  padding-bottom: 0.7em !important;
}

.latency-label {
  min-width: 30% !important;
  max-width: 30% !important;
  padding: 0px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.latency {
  min-width: 70px !important;
  max-width: 40% !important;
  max-height: 1.75em !important;
  display: inline-flex !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-checkbox {
  background-color: rgba(0, 0, 0, 0) !important;
  cursor: auto !important;
  padding: 0.5rem !important;
  min-height: 2rem !important;
}

.dropdown-button {
  background-color: rgba(0, 0, 0, 0) !important;
  cursor: auto !important;
  padding: 0.25rem !important;
}

.hover-button {
  color: gray;
  cursor: pointer;
  -webkit-transition: color 0.15s;
}

.hover-button:hover {
  color: black;
  cursor: pointer;
}

.track-fill {
  -webkit-transition: background-color 0.3s;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.accordion {
  min-width: 100% !important;
}

.menu > .header {
  margin: 5px !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
  font-size: 14px !important;
  background-color: lightgray;
  border-radius: 5px;
}

.ui.secondary.pointing.menu > .active.item {
  -webkit-text-stroke-width: 0.03rem;
  font-weight: normal !important;
}

.ui.dropdown > .menu > .active.item {
  -webkit-text-stroke-width: 0.03rem;
  font-weight: normal !important;
}

@media only screen and (max-width: 767.98px) {
  .bottom-padding-media {
    padding-bottom: 15px !important;
  }

  .top-padding-media {
    padding-top: 1.1rem !important;
  }

  .top-padding-media-condensed {
    padding-top: 0.6rem !important;
  }

  .replacement-entries {
    min-height: 270px !important;
    max-height: 270px !important;
  }

  .ui.modal > .close {
    top: 0.25rem !important;
    right: 0px !important;
  }
}

@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .replacement-entries {
    min-height: 256px !important;
    max-height: 256px !important;
  }
}

@media only screen and (max-width: 991.98px) {
  .close-icon {
    top: 0.25rem !important;
    right: 0px !important;
  }

  .options-container {
    min-height: 358.868px !important;
    max-height: 358.868px !important;
  }
}

@media only screen and (min-width: 1199.98px) {
  .options-container {
    min-height: 376.35px !important;
    max-height: 376.35px !important;
  }

  .replacement-entries {
    min-height: 266.9px !important;
    max-height: 266.9px !important;
  }

  .settings-checkbox {
    min-width: 52.5px !important;
  }
}

.empty-footer {
  height: 3em !important;
}

.bottom-padding-media {
  color: rgb(249, 250, 251);
  -webkit-transition: color 0.15s;
}

.bottom-padding-media:hover {
  color: gray;
}

.extra-text-kaomoji {
  color: gray !important;
  white-space: nowrap;
  font-size: 14px !important;
}

.extra-text {
  font-size: 13px !important;
  margin-top: -6px !important;
  padding-right: 0.5em !important;
}

input-placeholder {
  font-style: italic;
}

input:placeholder-shown {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;  
}

::-moz-placeholder {
  font-style: italic;  
}

:-ms-input-placeholder {  
  font-style: italic; 
}
